!!! 5
head
  title Admin interface
body
  p This is the admin interface!
  .current-status
    span The current status of
    span.city= city
    span= " is "
    span.status= status ? 'EMERGENCY' : 'fine'