html {
  font-weight: 22px;
  font-family: 'Titillium Web', sans-serif;
}

body {
  margin: 1rem 10rem;
}
h1, h2, h3, h4 {
  font-family: 'Racing Sans One', sans-serif;
  font-weight: normal;
}

.cities {
  min-width: 50%;
}

.code {
  width: 100%;
  border: 1px solid #ccc;
  background: #fafafa;
  font-size: 1rem;
  margin: .6rem 0;
}
