.recovery_widget {
  position: fixed;
  width:25%;
  min-width:250px;
  top:25px;
  right:25px;
  z-index: 99999;
  background: #f7f7f7;
  border-bottom: 1px solid #e6e6e6;
  padding: 1em;
  border-radius:3px;
  font: normal 15px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  animation: flasher .5s ease-in-out .1s infinite alternate;
  -webkit-animation: flasher .5s ease-in-out .1s infinite alternate;
}
@-webkit-keyframes flasher{
  from {box-shadow: -1px 1px 8px 3px rgba(255,35,0, .1); background: #f7f7f7;}
  to{box-shadow: -1px 1px 14px 5px rgba(255,35,0, .3); background:#fafafa;}
}

.recovery_widget .float_left {
  float: left;
}

.recovery_widget .float_right {
  float: right;
}

.recovery_widget:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 6px;
  background-color: red;
  background-image: -webkit-linear-gradient(-45deg, rgba(0, 0, 0, 0.2) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0.2) 75%, transparent 75%);
  background-image: -moz-linear-gradient(-45deg, rgba(0, 0, 0, 0.2) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0.2) 75%, transparent 75%);
  background-image: linear-gradient(-45deg, rgba(0, 0, 0, 0.2) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0.2) 75%, transparent 75%);
  background-size: 8px 8px;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.4);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.4);
}

.recovery_widget img {
  vertical-align: top;
}

.recovery_widget h5 {
  margin: 0;
  font-size: 1.1em;
  line-height: 1;
}

.recovery_widget h5 small {
  text-transform: uppercase;
  color: #999999;
}

.recovery_widget h1 {
  margin: 0;
  font-size: 1.4em;
}

.recovery_widget p {
  margin: 0.25em 0;
}

.recovery_widget .media_block {
  display: block;
}

.recovery_widget .media_block,
.recovery_widget .media_block .content {
  overflow: hidden;
  _overflow: visible;
  zoom: 1;
}

.recovery_widget .media_block .float_left {
  margin-right: 1em;
}

.recovery_widget .media_block .float_right {
  margin-left: 1em;
}
